// Global Styles
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
ul,
li,
div,
section {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 26px 0 0;
  font: 400 16px 'Kumbh Sans', sans-serif;
  position: relative;

  &.no-slider {
    overflow: hidden;
  }

  .dimmer {
    width: 100vw;
    height: 100vh;
  }

  #root {
    margin: 0 auto;
    width: 77%;
  }
}

@media (max-width: 920px) {
  body {
    padding: 0;

    #root {
      margin: 0;
      width: 100%;
    }
  }
}
